
<div class="endcap">

  <div class="endcap-nav">
    {% if page.next.url %}
      <a class="prev" href="{{page.next.url}}">&larr; "{{ page.next.title}}"</a>
    {% else %}
      <a class="prev"> </a>
    {% endif %}

    <a class="nav-archive" href={{ page.date | date: "%m/%d/%y" | prepend: "/things#" }}>archive</a>

    {% if page.previous.url %}
      <a class="next" href="{{page.previous.url}}">"{{ page.previous.title}}" &rarr;</a>
    {% else %}
      <a class="next"> </a>
    {% endif %}
  </div>

  <div class="endcap-subscribe">
    <div class="nice-btn-wrap">
      <a class="nice-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfH7b6KQZvwVUkZ-pO_wKsEGPT08IfQUHVVVTNRK-WMajTjSQ/viewform?usp=sf_link" target="_blank">Get New Posts</a>
    </div>

  <!--  <form action="https://life.us20.list-manage.com/subscribe/post?u=8e8a14ec215474a1cf1e0bcde&amp;id=c0ac5a62e9" method="post" class="validate" novalidate>

      <div class="form-wrapper">

        <input class="email-input" placeholder="Get new posts!"/>
bot signups
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8e8a14ec215474a1cf1e0bcde_c0ac5a62e9" tabindex="-1" value=""></div>
  end bot signups

          <div class="daily-button-div"><input type="submit" value="Daily" class="daily-button-inp"></div>

          <div class="weekly-butto-div"><input type="submit" value="Weekly"  class="weekly-button-inp" formaction="https://life.us20.list-manage.com/subscribe/post?u=8e8a14ec215474a1cf1e0bcde&amp;id=15ebc77f55"></div>

        </div>
      </form>-->
    </div>
  </div>





    <!--<div class="endcap-subscribe-input-wrapper">
      <input class="endcap-email-input" id={{ page.date | date: "%m/%d/%y" | prepend: "endcap-email-input-"}} placeholder="get@new.posts"/>
    </div>
    <div class="endcap-sub-buttons">
      <div class="endcap-subscribe-button-wrapper"><button>daily</button>
      </div>
      <div class="endcap-subscribe-button-wrapper"><button>weekly</button></div>
    </div>-->


<!--
      <div class="above">
        above
      </div>
      <div class="Left">
          Left
      </div>
      <div class="center">
          Center
      </div>
      <div class="Right">
          Right
      </div>

      <style type="text/css">
        .above {
          width: 750px;
          height: 100px;
          background-color: green;
        }
              .Left
              {
                  width: 250px;
                  height: 250px;
                  float: left;
                  background-color: Blue;
              }

              .center
              {
                  width: 250px;
                  height: 250px;
                  background-color: Red;
                  float: left;
              }

              .Right
              {
                  width: 250px;
                  height: 250px;
                  background-color: Fuchsia;
                  float: left;
                  clear: right;
              }
          </style>

      <br><br>
    -->





<!-- WEEKLY
    <div id="mc_embed_signup">
    <form action="https://life.us20.list-manage.com/subscribe/post?u=8e8a14ec215474a1cf1e0bcde&amp;id=15ebc77f55" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

       real people should not fill this in and expect good things - do not remove this or risk form bot signups


        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8e8a14ec215474a1cf1e0bcde_15ebc77f55" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
  </div>
-->

</div>
