    <div class="foot">
      <span class="foot-border"/><br>
      <a href="#" onclick="goToRandom();" target="_self">Random</a> |
      <a href={{ page.date | date: "%m/%d/%y" | prepend: "/things#" }} target="_self">Archive</a> |
      <a href="https://forms.gle/TngB7wUG2V2YVB6D9" target="_blank">Join</a> |
      <a href="/about" target="_self">About</a> | <a href="/contact">Contact</a>
    </div>

<script>
   var posts = [];
   {% for post in site.posts %}
      posts.push("{{ post.url }}");
   {% endfor %}

   function goToRandom() {
         window.location = posts[Math.floor(Math.random() * posts.length)];
      }
</script>

</body>
</html>
