{% include header.html %}

  <div class="container">

    <div class="archive-list">
      <div class="archive-subscribe-wrap">
        {% include subscribe-btn.html %}
      </div>

      {% for post in site.posts %}
        {% include title-tile.html %}
      {% endfor %}
    </div>

  </div>

  <div class="foot">
    <span class="foot-border"/><br><br>
    <a href="/about">About</a> | <a href="/contact">Contact</a> | <a href="#" onclick="goToRandom();">Random</a>
  </div>

<script>
 var posts = [];
 {% for post in site.posts %}
    posts.push("{{ post.url }}");
 {% endfor %}

 function goToRandom() {
       window.location = posts[Math.floor(Math.random() * posts.length)];
    }
</script>

  </body>
</html>
