{% include header.html %}

  <div class="container">
    <div class="article">
      <article>
        <h1 class="post-title">
          Contact Andy
        </h1>
        <div class="post-body">
          <a href="https://forms.gle/kwANcR9NaYDAHDD16">visiting https://forms.gle/kwANcR9NaYDAHDD16</a>
        </div>

        <script>
        window.onload = function () {
          window.location.href="https://forms.gle/kwANcR9NaYDAHDD16";
        }
        </script>

      </article>
    </div>
  </div>

{% include footer.html %}
