{% include header.html %}

  <div class="container">
    <div class="article">
      <article>
        <h1 class="post-title">
          Contact Andy
        </h1>
        <div class="post-body">
          Redirecting...

          <br><br>
          to
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeMNqJK6-BXvEFYxzrq8bP1GWY2zhODYKB5iHRzkzEXdrx6eA/viewform?usp=sf_link"> https://forms.gle/93YM3MrCbE35SESR7</a>.

        </div>

        <script>
        window.onload = function () {
          window.location.href="https://docs.google.com/forms/d/e/1FAIpQLSeMNqJK6-BXvEFYxzrq8bP1GWY2zhODYKB5iHRzkzEXdrx6eA/viewform?usp=sf_link";
        }
        </script>

      </article>
    </div>
  </div>

{% include footer.html %}
