{% include header.html %}

  <div class="container">
    <div class="article">
      <div class="post-body">
        <h2>I Help Students Achieve Their Goals Through Mentorship And Meaningful Work</h2>
        <li> ACT and SAT score improvement
        <li> College planning and apps
        <li> Math tutoring
        <li> Writing and communication
        <li> Engineering and computer science

<br><br>
        <h2>People Enjoy Collaborating With Me</h2>

        <p>“<i>Andy is, without exaggeration, the most selfless person I have ever met. He takes so much pride in being able to help others, and I am so lucky to have worked with him as a colleague and a friend.</i>” <br><span style="float:right;">&ndash;Alex, Harvard</span></p>
<br>
        <p>“<i>Andy taught me how to think like an adult: how to craft effective emails, how to navigate applications, and ultimately how to get into the school of my dreams.</i>” <br><span style="float:right;">&ndash;Wendy, MIT</span></p>
<br>
        <p>“<i>I thought working with Andy was like exploring a whole new world. It wasn’t like learning in a classroom&mdash;instead, you get to ask questions freely. You can explore on your own. It was like a rainforest or a safari. When you go on a safari, you can’t say that you want to see the hippos. They will tell you, ‘No, you have to take the lion path first.’ With Andy, you can do that. You can go straight to the hippos.</i>” <br><span style="float:right;">&ndash;Kai, 5th Grader</span></p>
<br>
        <p>“<i>Andy really cares about helping people.</i>” <br><span style="float:right;">&ndash;Brad, Princeton</span></p>
<br>
        <p>“<i>We weren’t just looking for a tutor who could teach our son 7th grade math, but who could motivate him to learn and give an inspiration for the wider world beyond math. Andy was it.</i>” <br><span style="float:right;">&ndash;Motoko and John, Parents</span></p>
<br>
        <p>“<i>Andy is incredibly patient. He has a very unique way of getting to know someone and connecting them with the right resources to reach their goals. I’ve seen it in the Presidential Scholars Program and in other work Andy has done. He’s incredibly supportive and helpful.</i>” <br><span style="float:right;">&ndash;Joyce, Stanford</span></p>

<br><br>

        <h2>Call Now: 619-363-2623</h2>

      <p>Let's schedule a FREE introductory meeting. I would love to hear what you're looking for and see how I can help.</p>
      <p>Typical rate is $75/hour. I will never charge if you're less than 110% satisfied. Ask how we can work costs down.</p>

      <br>

      <img class="about-head" src="/img/headshot.png"/>

      <br><br>
      <h2>About</h2>

        <p>Andy has experience commanding a multi-million dollar research experiment on the International Space Station, running the U.S. Presidential Scholars Program for the White House under both Obama and Trump, and founding a mental health nonprofit that facilitates meaningful and challenging conversations through technology. Andy scored perfectly on the first try for multiple SAT, ACT, AP, and IB test sections, and he earned a B.S. in Mathematics with Computer Science from MIT after only 3 years of classes. He is fluent in Spanish and designated a national chess expert (Elo Rating 2000+) by the U.S. Chess Federation. He has taught a variety of subjects to elementary through college students, in homes, classrooms, labs, libraries, and caf&eacute;s.</p>

<!--
        <p>Andy was born and raised in Milwaukee, Wisconsin. He is supremely grateful to his friends, family, and mentors for being amazing humans. He considers himself very, very lucky to have had extraordinary opportunities, and he has a deep desire to help others on their respective journeys. Andy has taught and tutored folks of all ages across a wide range of subjects&mdash;in homes, classrooms, labs, libraries, and caf&eacute;s. He currently teaches at multiple elementary schools with the St. Louis Chess Club's Scholastic Program.</p>
      -->

    <!--  Andy has experience commanding a multi-million dollar research experiment on the International Space Station, running the U.S. Presidential Scholars Program for the White House under both Obama and Trump, and founding a mental health nonprofit that facilitates meaningful and challenging conversations through technology.

      Andy scored perfectly on the first try for multiple SAT, ACT, AP, and IB test sections, and he earned a B.S. in Mathematics with Computer Science (course 18c) from MIT after only 3 years of classes.

      Andy is designated a national chess expert (Elo Rating 2000+) by the U.S. Chess Federation and can play a full game blindfolded. He also enjoys ping-pong, meeting new people, reading books, and baking empanadas from scratch. He is fluent in Spanish.

      Andy is supremely grateful to his friends, family, and mentors for being exceptional humans, role models, and superstars. He considers himeself very, very lucky.
-->
        <br><br><br>
      </div>
    </div>
  </div>

{% include footer.html %}
