{% include header.html %}

  <div class="container">
    <div class="article">
      <div class="post-body">
        <h2>Hi, thanks for visiting.</h2>
        <p>
          I'm Andy. A few years ago, I created <a href="https://lean0n.me" target="_blank">Lean On Me</a> to help students in need find someone to talk with. The project has grown into a national nonprofit and touched thousands of lives.
        </p>
        <p>
          I learned&mdash;from working with hundreds of users, teammates, and mental health professionals&mdash;that the most important thing for a person in uncertain waters is to have someone else in the boat with them. And it has to be someone who cares enough to listen, understand, and provide support in <a href="https://www.youtube.com/watch?v=66qQRMfW1Xg" target="_blank">the right way</a>. So we should choose our companion carefully.</p>
          <p>
          When I was ten years old, I had to see a psychiatrist due to family turmoil. The visits continued for years, and I really didn't like them. As a kid and then teenager, my only thought was "therapy sucks."</p>
          <p>
          Ten years too late, I learned that people often shop around. They try different therapists to find the right one for them. If only I could have communicated back then that my psychiatrist simply wasn't a great fit for me! Perhaps I would have discovered much sooner that talking with people about deep, dangerous stuff really doesn't suck at all.</p>
          <p>
          When done properly, in fact, talking with people can be the most healing, transformative, and magical experience. Moments of growth and learning&mdash;of confronting our emotions, of embracing our fears, of overcoming adversity&mdash;these are memories we can carry with pride. But they rarely come fast and easy.</p>
          <p>
          We face many challenges in our lives. Perhaps it's stress, anxiety, or loneliness. Maybe it's a work, school, or relationship issue. Sometimes we can't even put our finger on what the problem is...but something just isn't right. We feel a little stuck. Day after day, we aren't making the progress we'd like.</p>
          <p>
          When we have trouble finding positivity and good vibes, when things lose meaning, and when we're not so sure of ourselves anymore, speaking vulnerably with another person can be especially scary. It's easier if we've already got friends and family we can rely on, have genuine conversations with, and express our true selves around. It's harder if our support network isn't quite there yet.</p>
          <p>
          I've seen many people go down the isolation vortex, myself included. We don't want counseling or medication or chatbots. Our mental health isn't a medical issue. There's nothing wrong with our brain. We've tried articles, books, exercise, more sleep, internet forums, travel, journaling, friendly advice. Sometimes things seem momentarily better...but in the end nothing has really helped. We're still in this weird in-between zone, not quite sure what to do next. We’re still feeling sad, down, unhappy...</p>
          <p>
          So we procrastinate. We distract ourselves. We hide.</p>
          <p>
          It's funny how hard it is to really understand what's going on in our minds. For days, weeks, even years, we might be fooled. Then one day we wake up, and suddenly there's just too much evidence all over the place that we haven't been acting out the story in our head. We aren't who we thought we were, or who we hoped to be. We aren't living the life we want to live. And we don't know exactly what that ideal life looks like or how to get there or where to start.</p>
          <p>Biology explains much of this. It has to do with the structure of the human brain. But that's not relevant here. What's relevant is we all face challenges, and we all succumb to the isolation votex, at different times and different stages of our lives. The question is, what are we going to do about it?</p>
          <p>And so we must recall that when we're in uncertain waters, it's really useful to have someone in the boat with us. Because that empathetic, supportive person can steer us&mdash;calmly, gently, patiently&mdash;toward the pain. Toward the problems, one by one. Toward understanding.</p>
          <br>
          <p>If you need someone in your boat, I'd love to be that person for you. Let's get in touch to see if we're a good fit. My phone number is 619-363-2623. Call me. If I don't pick up, leave a voicemail. If you prefer, shoot me a text or use the contact form below. There's no automated response, it's all just good-old human me, and everything will be free.</p>
          <p>Once we decide that we'd like to try a journey in the boat together, then we'll move forward in a way that's right for you. We'll set some goals and guidelines. Choose text, video, phone, in-person (geography permitting), or a combination. I'll ask for $5 and some paperwork to seal the deal. You're welcome to a refund if you're unhappy with how things turn out. But I hope to provide you with lots of value, so you'll choose to pay me more someday. It's an experiment I'm trying out. No scams. No tricks. No fine print. No obligations. That's it.</p>
          <p>Call it mentorship. Life coaching. Informal, non-licensed, unofficial therapy. Whatever. I simply think about it as deep, meaningful, helpful conversation. And I'm looking forward to hearing you.</p>

        <h2>Testimonials</h2>

        <p>“<i>Andy really cares about helping people.</i>” <br><span style="float:right;">&ndash;Brad</span></p>
<br>
        <p>“<i>I thought working with Andy was like exploring a whole new world...when you go on a safari, you can’t say that you want to see the hippos. They will tell you, ‘No, you have to take the lion path first.’ With Andy, you can do that. You can go straight to the hippos.</i>” <br><span style="float:right;">&ndash;Kai</span></p>
<br>
        <p>“<i>Andy is, without exaggeration, the most selfless person I have ever met. He takes so much pride in being able to help others, and I am so lucky to have worked with him.</i>” <br><span style="float:right;">&ndash;Alex</span></p>
<br>
        <p>“<i>Andy was it.</i>” <br><span style="float:right;">&ndash;Motoko and John</span></p>
<br>
        <p>“<i>Andy is incredibly patient. He has a very unique way of getting to know someone and connecting them with the right resources to reach their goals. He’s incredibly supportive.</i>” <br><span style="float:right;">&ndash;Joyce</span></p>

<br><br>

<div class="contact-form" id="contact-form">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeCFUVh3VmcQzoTK2VYkoTvySAN3i21s9gr1-8T7_5clKGnpg/viewform?embedded=true" width="640" height="646" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<img class="about-head" src="/img/headshot.png"/>
      <br><br><br>
      </div>
    </div>
  </div>

{% include footer.html %}
