{% include header.html %}

  <div class="container">
    <!-- comment to database -->
    <input id="comment" type="text" placeholder="comment to db"></input>
    <button onclick="add_to_db()">submit comment to db</button>
    <br>

    <!--email to subscribe list -->
    <input id="subscribe" type="text" placeholder="email@address.com"></input>
    <button onclick="subscribe_email()">subscribe</button>
    <br>

    <!--post to email list -->
    <input id="send-email" type="text" placeholder="email you want to send"></input>
    <button onclick="send_email()">send email</button>
    <br>

    <!-- login user / pass  create -->
    <input id="username" type="text" placeholder="user"></input>
    <input id="password" type="text" placeholder="pass"></input>
    <button onclick="create_account()">create account</button>
    <br>

    <!-- visit page comment (only login else button "you must login create acct") -->
    <input id="login-username" type="text" placeholder="user"></input>
    <input id="login-password" type="text" placeholder="pass"></input>
    <button onclick="login()">login</button>
    <br>

    <!-- search partial string is comment in db? full entry -->
    <input id="search" type="text" placeholder="string to search in db comments"></input>
    <button onclick="search_db()">search</button>
    <textarea id="search-output" rows="10" cols="100">
      Output here.
    </textarea>
    <br>

  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function add_to_db(){
      var text = $("#comment").val();
      alert(text);
    }

    function subscribe_email(){
      var text = $("#subscribe").val();
      alert(text);
    }

    function send_email(){
      var text = $("#send-email").val();
      alert(text);
    }

    function create_account(){
      var user = $("#username").val();
      var pass = $("#password").val();
      alert("username: " + user + " || password: " + pass);
    }

    function login(){
      var user = $("#login-username").val();
      var pass = $("#login-password").val();
      alert("username: " + user + " || password: " + pass);
    }

    function search_db(){
      var search_string = $("#search").val();
      alert(search_string);
      $("search-output").val('not implemented on search: ' + search_string);
    }



  </script>

{% include footer.html %}
