{% include header.html %}

    <main>
        <div style="article-container">
            <div style="article-titleblock">
                {{ page.title }}
            </div>
            <div style="article-content">
                {{ content }}
            </div>
            <div style="article-footer">
                <div style="article-footer-archive">
                    <a href="/thoughts">archive</a>
                </div>
                <div style="article-footer-icon">
                    <a href="/about"><img style="icon-watermark" src="/img/icon/face-icon.jpg"/></a>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}
