{% include header.html %}

    {% include title-group.html %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  {% for post in site.posts %}
                    {% if forloop.index <= 3 %}
                      {% include tile.html %}
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                  {{ content }}
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}
